.homepage {
}

.container {
  width: 95vw;
  height: calc(100vh - 60px);
  background-color: darksalmon;
}

.game {
  background-color: rgb(49, 34, 18);
  height: 70%;

  & h2 {
    color: gold;
    display: flex;
    justify-content: center;
    padding-top: 3vh;
    font-size: 2rem;
    font-weight: 100;
  }
}

.game__characters {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 85%;
  padding-bottom: 20vh;
  & img {
    width: 100%;
  }
  & h3 {
    text-align: center;
  }
  & button {
    background-color: inherit;
    border: none;
    border-radius: 0;
    color: inherit;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
  }
  &__heroes {
    display: flex;
    flex-direction: row-reverse;
  }
  &__enemies {
    display: flex;
    position: relative;
    top: -32px;
    & img {
      transform: scale(-1, 1);
    }
  }

  &__heroes__status,
  &__enemies__status {
    display: flex;
    justify-content: space-around;
    width: calc(85% - 10px);
    &__icon {
      position: relative;
      & img {
        width: 1.25rem;
      }
      & p {
        position: absolute;
        bottom: 0;
        right: -10px;
      }
    }
  }
}

.bar__container {
  & .shield__icon {
    position: relative;
    & img {
      position: absolute;
      top: -12.5px;
      left: 0;
      width: 35px;
      z-index: 3;
    }

    & p {
      position: absolute;
      z-index: 4;
      letter-spacing: -1px;
      left: 6px;
      top: -1px;
      width: 1.25rem;
      text-align: center;
    }
  }

  & .star__icon {
    position: relative;
    & img {
      position: absolute;
      top: -12.5px;
      left: 1rem;
      width: 40px;
      z-index: 3;
    }

    & p {
      color: black;
      position: absolute;
      z-index: 4;
      letter-spacing: -1px;
      left: 23px;
      top: 1px;
      text-align: center;
      width: 1.25rem;
    }
  }
}

.bar__container {
  position: relative;
  height: 2rem;
  .bar {
    height: 1.25rem;
    border-radius: 2px;
    margin-left: 1rem;
    background-color: #444;
  }
  .bar__text {
    position: absolute;
    top: 2px;
    right: 0;
    text-align: center;
    width: 100%;
  }
  .health__bar {
    height: 1.25rem;
    width: 70%;
    position: absolute;
    top: 0;
    left: 0;
    & .bar__fill {
      height: 100%;
      background-color: green;
      transition: width 0.3s ease;
    }
  }

  .exp__bar {
    height: 1.25rem;
    width: calc(70% - 2rem);
    position: absolute;
    top: 0;
    left: 2rem;
    color: black;
    & .bar__fill {
      height: 100%;
      background-color: gold;
      transition: width 0.3s ease;
    }
  }
}

.action {
  background-color: rgb(30, 25, 0);
  height: 30%;
  display: flex;

  &__container {
    background-color: #151515;
    display: flex;
    flex-direction: column;
    margin: 1rem 0 1rem 1rem;
    padding: 1rem;
  }
}

button {
  background-color: inherit;
  border: 1px solid gold;
  border-radius: 2px;
  color: gold;
  font-size: 1.65rem;
  padding: 0.15rem 0;
  width: 80%;
  cursor: pointer;
}

.unclickable {
  cursor: not-allowed;
  opacity: 0.5;
}

.action__main__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 200px;
}

.action__secondary__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
}

.action__description {
  width: 100%;
  margin-right: 1rem;
  color: gold;
  font-size: 1.5rem;
}
