@charset "UTF-8";
/* Base */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ul,
li,
form,
label,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
aside,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

* {
  font-family: "Poppins", sans-serif;
}

/* Utils */
/*Components*/
/* Layout */
header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.45) 40%, rgba(0, 0, 0, 0.7) 100%);
  font-weight: 500;
  padding: 0 2.5%;
  position: absolute;
  width: 95%;
  z-index: 5;
}
header .title-link {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 1.5rem;
  height: 70px;
  text-decoration: none;
  z-index: 6;
}
header .navbar {
  display: flex;
  position: absolute;
  top: 0px;
  width: 95%;
}
header .navbar .navbar__content {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .navbar .navbar__content a {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 1rem;
  height: 70px;
  padding: 0px 0.75rem;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}
header .navbar .navbar__content a:hover {
  font-size: 1.1rem;
}
header .navbar .navbar__content .active,
header .navbar .navbar__content .active:hover {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.55);
}
header .navbar .navbar__burger {
  display: none;
}

@media screen and (max-width: 1440px) {
  header .navbar .navbar__content li a {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 900px) {
  header .navbar .navbar__content {
    background-color: #23252c;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 0;
  }
  header .navbar .navbar__content li a {
    padding: 0;
  }
  header .navbar .navbar__content li a {
    font-size: 2rem;
  }
  header .navbar .navbar__content li .active {
    font-size: 2.5rem;
  }
  header .navbar .navbar__content li a:hover, header .navbar .navbar__content li .active:hover {
    font-size: 3rem;
  }
  header .navbar .navbar__burger {
    background: transparent;
    border: 0;
    display: block;
    height: 40px;
    width: 40px;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  header .navbar .navbar__burger:hover {
    cursor: pointer;
  }
  header .navbar .navbar-bar,
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    background-color: white;
    border-radius: 3px;
    display: block;
    height: 3px;
    position: relative;
    width: 40px;
  }
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    content: "";
    left: 0;
    position: absolute;
  }
  header .navbar .navbar-bar::before {
    transform: translateY(-12px);
  }
  header .navbar .navbar-bar::after {
    transform: translateY(12px);
  }
  header .showmenu .navbar__content {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (max-width: 425px) {
  header .title-link {
    font-size: 5vw;
  }
  header .navbar {
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 5vw;
  }
  header .navbar .navbar__content {
    background-color: #23252c;
    bottom: 0px;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0 1rem;
    position: fixed;
    right: 0;
    width: 100vw;
  }
  header .navbar .navbar__content li a {
    font-size: 6vw;
    padding: 5px 10px;
  }
  header .navbar .navbar__burger {
    border: 0;
    display: block;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 2px;
    width: 40px;
  }
  header .navbar .navbar__burger:hover {
    cursor: pointer;
  }
  header .navbar .navbar-bar,
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    background-color: white;
    display: block;
    border-radius: 3px;
    height: 3px;
    position: relative;
    width: 40px;
  }
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    content: "";
    left: 0;
    position: absolute;
  }
  header .navbar .navbar-bar::before {
    transform: translateY(-12px);
  }
  header .navbar .navbar-bar::after {
    transform: translateY(12px);
  }
}
/* Pages */
section {
  display: block;
  width: 100vw; /* Assure que le conteneur prend toute la largeur */
  height: 100vh; /* Assure que le conteneur prend toute la hauteur */
}

img {
  width: 300px; /* Les images prendront toute la largeur disponible */
  height: auto; /* L'aspect ratio est conservé */
}

.homepage {
  max-height: 95vh; /* La hauteur de la homepage est limitée à 95% de la hauteur de la fenêtre */
  width: 100vw; /* Utiliser toute la largeur de la fenêtre */
  overflow: hidden; /* Pour éviter tout débordement */
}

.game {
  display: block;
  height: 90vh; /* La hauteur de la section game est de 50% de la hauteur de la fenêtre */
  width: 100vw; /* Utilise toute la largeur */
}

.castle {
  width: 100vw; /* Utiliser toute la largeur de la fenêtre */
  height: 100%; /* Utiliser 90% de la hauteur de la fenêtre */
  position: relative;
  top: 0;
  left: 0;
  z-index: 1; /* Placer la castle en dessous */
}

.heroes {
  display: flex;
  position: absolute;
  top: 54vh; /* Positionnement relatif à .castle (54% de la hauteur de la fenêtre) */
  left: 10vw; /* Positionnement relatif à .castle (10% de la largeur de la fenêtre) */
  z-index: 2; /* Assurez-vous que .heroes est au-dessus de .castle */
  width: 80vw;
  height: -moz-fit-content;
  height: fit-content;
}

.reverse {
  transform: scale(-1, 1); /* Retourner l'image horizontalement */
}

.log {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  width: 100vw; /* Utiliser toute la largeur */
  height: 20vh;
  z-index: 2; /* Placer le log au-dessus des autres éléments */
  text-align: center;
}

.paladins {
  /* Si vous souhaitez ajouter des styles supplémentaires pour cette classe, vous pouvez les ajouter ici */
}

.paladins01 {
  /* Styles pour paladins01 */
}

.paladins02 {
  /* Styles pour paladins02 */
}

body {
  background-color: #23252c;
  color: #FFFFFF;
}

main {
  padding-top: 70px;
}/*# sourceMappingURL=style.css.map */