/* Base */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
i,
ul,
li,
form,
label,
aside,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
} /* HTML5 display-role reset for older browsers */
aside,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

* {
  font-family: "Poppins", sans-serif;
}

/* Utils */
/*Components*/
/* Layout */
header {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.45) 40%, rgba(0, 0, 0, 0.7) 100%);
  font-weight: 500;
  padding: 0 2.5%;
  position: absolute;
  width: 95%;
  z-index: 5;
}
header .title-link {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 1.5rem;
  height: 60px;
  text-decoration: none;
  z-index: 6;
}
header .navbar {
  display: flex;
  position: absolute;
  top: 0px;
  width: 95%;
}
header .navbar .navbar__content {
  display: flex;
  justify-content: center;
  width: 100%;
}
header .navbar .navbar__content a {
  align-items: center;
  color: #FFFFFF;
  display: flex;
  font-size: 1rem;
  height: 60px;
  padding: 0px 0.75rem;
  text-decoration: none;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}
header .navbar .navbar__content a:hover {
  font-size: 1.1rem;
}
header .navbar .navbar__content .active,
header .navbar .navbar__content .active:hover {
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.55);
}
header .navbar .navbar__burger {
  display: none;
}

@media screen and (max-width: 1440px) {
  header .navbar .navbar__content li a {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 900px) {
  header .navbar .navbar__content {
    background-color: #23252c;
    display: none;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 0;
  }
  header .navbar .navbar__content li a {
    padding: 0;
  }
  header .navbar .navbar__content li a {
    font-size: 2rem;
  }
  header .navbar .navbar__content li .active {
    font-size: 2.5rem;
  }
  header .navbar .navbar__content li a:hover, header .navbar .navbar__content li .active:hover {
    font-size: 3rem;
  }
  header .navbar .navbar__burger {
    background: transparent;
    border: 0;
    display: block;
    height: 40px;
    width: 40px;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
  header .navbar .navbar__burger:hover {
    cursor: pointer;
  }
  header .navbar .navbar-bar,
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    background-color: white;
    border-radius: 3px;
    display: block;
    height: 3px;
    position: relative;
    width: 40px;
  }
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    content: "";
    left: 0;
    position: absolute;
  }
  header .navbar .navbar-bar::before {
    transform: translateY(-12px);
  }
  header .navbar .navbar-bar::after {
    transform: translateY(12px);
  }
  header .showmenu .navbar__content {
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
  }
}
@media screen and (max-width: 425px) {
  header .title-link {
    font-size: 5vw;
  }
  header .navbar {
    justify-content: flex-end;
    margin-left: 0px;
    margin-right: 5vw;
  }
  header .navbar .navbar__content {
    background-color: #23252c;
    bottom: 0px;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0 1rem;
    position: fixed;
    right: 0;
    width: 100vw;
  }
  header .navbar .navbar__content li a {
    font-size: 6vw;
    padding: 5px 10px;
  }
  header .navbar .navbar__burger {
    border: 0;
    display: block;
    height: 40px;
    padding: 0;
    position: absolute;
    right: 1rem;
    top: 2px;
    width: 40px;
  }
  header .navbar .navbar__burger:hover {
    cursor: pointer;
  }
  header .navbar .navbar-bar,
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    background-color: white;
    display: block;
    border-radius: 3px;
    height: 3px;
    position: relative;
    width: 40px;
  }
  header .navbar .navbar-bar::before,
  header .navbar .navbar-bar::after {
    content: "";
    left: 0;
    position: absolute;
  }
  header .navbar .navbar-bar::before {
    transform: translateY(-12px);
  }
  header .navbar .navbar-bar::after {
    transform: translateY(12px);
  }
}
/* Pages */
.container {
  width: 95vw;
  height: calc(100vh - 60px);
  background-color: darksalmon;
}

.game {
  background-color: rgb(49, 34, 18);
  height: 70%;
}
.game h2 {
  color: gold;
  display: flex;
  justify-content: center;
  padding-top: 3vh;
  font-size: 2rem;
  font-weight: 100;
}

.game__characters {
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
  height: 85%;
  padding-bottom: 20vh;
}
.game__characters img {
  width: 100%;
}
.game__characters h3 {
  text-align: center;
}
.game__characters__heroes {
  display: flex;
  flex-direction: row-reverse;
}
.game__characters__enemies {
  display: flex;
}
.game__characters__enemies img {
  transform: scale(-1, 1);
}
.game__characters__heroes__status, .game__characters__enemies__status {
  display: flex;
  justify-content: space-around;
  width: calc(85% - 10px);
}
.game__characters__heroes__status__icon, .game__characters__enemies__status__icon {
  position: relative;
}
.game__characters__heroes__status__icon img, .game__characters__enemies__status__icon img {
  width: 1.25rem;
}
.game__characters__heroes__status__icon p, .game__characters__enemies__status__icon p {
  position: absolute;
  bottom: 0;
  right: -10px;
}

.bar__container .shield__icon {
  position: relative;
}
.bar__container .shield__icon img {
  position: absolute;
  top: -12.5px;
  left: 0;
  width: 35px;
  z-index: 3;
}
.bar__container .shield__icon p {
  position: absolute;
  z-index: 4;
  letter-spacing: -1px;
  left: 5px;
  top: -1px;
}
.bar__container .star__icon {
  position: relative;
}
.bar__container .star__icon img {
  position: absolute;
  top: -12.5px;
  left: 1rem;
  width: 40px;
  z-index: 3;
}
.bar__container .star__icon p {
  color: black;
  position: absolute;
  z-index: 4;
  letter-spacing: -1px;
  left: 23px;
  top: 1px;
}

.bar__container {
  position: relative;
  height: 2rem;
}
.bar__container .bar {
  height: 1.25rem;
  border-radius: 2px;
  margin-left: 1rem;
}
.bar__container .health__bar {
  background-color: green;
  height: 1.25rem;
  width: 70%;
  position: absolute;
  top: 0;
  left: 0;
}
.bar__container .exp__bar {
  background-color: gold;
  height: 1.25rem;
  width: calc(70% - 2rem);
  position: absolute;
  top: 0;
  left: 2rem;
}

.action {
  background-color: rgb(30, 25, 0);
  height: 30%;
  display: flex;
}
.action__container {
  background-color: #151515;
  display: flex;
  flex-direction: column;
  margin: 1rem 0 1rem 1rem;
  padding: 1rem;
}

button {
  background-color: inherit;
  border: 1px solid gold;
  border-radius: 2px;
  color: gold;
  font-size: 1.65rem;
  padding: 0.15rem 0;
  width: 80%;
}

.action__main__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 200px;
}

.action__secondary__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 300px;
}

.action__description {
  width: 100%;
  margin-right: 1rem;
  color: gold;
  font-size: 1.5rem;
}

body {
  background-color: #23252c;
  color: #FFFFFF;
}

main {
  padding-top: 60px;
}/*# sourceMappingURL=style.css.map */